# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.project_id:passwprd;@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.project_id:passwprd;@aws-0-us-west-1.pooler.supabase.com:5432/postgres"

JWT_SECRET=myjwtsecret
JWT_EXPIRES=1h